<script type="text/javascript" src="transition.js"></script>
<header>
  <nav id="nav">
  		<img src="wordsmif-final-2.svg" class="alt-logo nav-items">
	    <%= link_to 'New Search', root_path, :class => "nav-items nav-link"  %> 
	    <%= link_to 'About', about_path, :class => "nav-items nav-link" %> 
	    <%= image_tag('wordsmif-final-2.svg', :class => "logo nav-items") %>
	    <%= link_to 'Contact', contact_path, :class => "nav-items nav-link" %>
	    <%= link_to 'Previous Search', results_path, :class => "nav-items nav-link", :id => "current"  %>
  	</img>
  </nav>
</header>

<main>
	<section id="results">
		<section id="origin">
			<h2>
				<span>
					<%= @lastword.name %> 
				</span>
				<br>
				Was Your Origin Word
			</h2>
			<br>
			
			<%= image_tag @image_url, :class => "origin-img" %>
			<div id="nogif">
				<%= @nogif %>
			</div>
		</section>
		<br>
		<br>
		<br> 
		<section id="results-association">
			<h2 id="association">Your Word Associations Are...</h2>

			<section id="resultsArray">
				<% @wordresults.each do |word| %>
					<div class="result-container">
						<div class="result-word">
							<%= link_to word.result_word, result_path(word.id) %>
						</div>
						<a href="/results/<%= word.id %>">
							<%= image_tag(word.url, :class => "img") %>
						</a>
						 <a href=<%= word.url %> download><%= image_tag('disk-download-white.svg', :id => "download") %></a>
					</div>
					<br>
				<% end %>
			</section>	
		</section>
	</section>
</main>
<footer>
	<span>
		Copyright &copy;<%= Date.today.year %> Joshua Davis <em>All Rights Reserved</em>
	</span>
</footer>