<script type="text/javascript" src="transition.js"></script>
<header>
  <nav id="nav">
    <%= link_to 'New Search', root_path, :class => "nav-items"  %> 
    <%= link_to 'About', about_path, :class => "nav-items" %> 
    <%= image_tag('wordsmif-final-2.svg', :class => "logo nav-items") %>
    <%= link_to 'Contact', contact_path, :class => "nav-items" %>
    <%= link_to 'Previous Search', results_path, :class => "nav-items", :id => "current"  %>
  </nav>
</header>

<main>
	<section id="results">
		<h2><%= @lastword.name %> <br>
		Was Your origin word :</h2>
		<br>
		
		<%= image_tag @image_url %>
		<%= @nogif %>
		<br>
		<br>
		<br> 
		<h2>Your Word Associations Are:</h2>

		<section id="resultsArray">
			<% @wordresults.each do |word| %>
			<div class="result-container">
				<%= image_tag(word.url, :class => "img") %>
				
				<%= link_to word.result_word, result_path(word.id) %>
				<br>
				<div class="result-word">
					<%= word.result_word %>
				</div>
			</div>
			<br>
			<% end %>
		</section>
			

		
		
	</section>
</main>