<header>
  <%= render :partial => 'nav' %>
</header>

<main>
	<section id="results">
		<h2><%= @lastword.name %> <br>
		Was Your origin word :</h2>
		<br>
		<%#= @image_url %>
		<%= image_tag @image_url %>
		<%= @nogif %>
		<br>
		<br>
		<br> 
		<h2>Your Word Associations Are:</h2>

		<section id="resultsArray">
			<% @wordresults.each do |word| %>
			<div class="result-container">
				<%= image_tag(word.url, :class => "img") %>
				
				
				<br>
				<div class="result-word">
					<%= word.result_word %>
				</div>
			</div>
			<br>
			<% end %>
		</section>
			

		
		
	</section>
</main>