<script type="text/javascript">
$(document).ready(function(){    
    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1){
        // Set the URL to whatever it was plus "#".
        url = document.URL+"#";
        location = "#";

        //Reload the page
        location.reload(true);
    }
});
</script>
<script type="text/javascript" src="transition.js"></script>

<header>
  <nav id="nav">
    <img src="wordsmif-final-2.svg" class="alt-logo nav-items">
    <%= link_to 'New Search', root_path, :class => "nav-items"  %> 
    <%= link_to 'About', about_path, :class => "nav-items" %> 
    <%= image_tag('wordsmif-final-2.svg', :class => "logo nav-items") %>
    <%= link_to 'Contact', contact_path, :class => "nav-items" %>
    <%= link_to 'Recent Search', results_path, :class => "nav-items"  %>
  </nav>
</header>

<main id="result">
	<section id="show-info">
		<%= link_to "Back to Results", results_path, :id => "back" %>
		<br>
		<h2 id="single-result">
			<%= @result.result_word %>
		</h2>
		 <%= image_tag(@result.url_lg, :class => "single-gif") %>
		 <a href=<%= @result.url_lg %> download><%= image_tag('disk-download-white.svg', :id => "download") %></a>
	</section>
</main>
<footer>
    <span>
        Copyright &copy;<%= Date.today.year %> Joshua Davis <em>All Rights Reserved</em>
    </span>
</footer>