<script type="text/javascript" src="transition.js"></script>
<header>
  <nav id="nav">
    <%= link_to 'New Search', root_path, :class => "nav-items"  %> 
    <%= link_to 'About', about_path, :class => "nav-items", :id => "current"  %> 
    <%= image_tag('wordsmif-final-2.svg', :class => "logo nav-items") %>
    <%= link_to 'Contact', contact_path, :class => "nav-items" %>
    <%= link_to 'Previous Search', results_path, :class => "nav-items"  %>
  </nav>
</header>

<main>
	<h3>ABOUT OUR APP</h3>

	<p>
		SeeWords is an app for showing our connection between language and internet culture. Users enter any word that is on their minds and we process this information to return word associations the top trending gif associated with that word to show how our minds traditionally make connections in contrast with how we interpret and tag our images through our shared culture. We wish to show a relationship between our how our minds connect language through associations and the collective internet culture fosters associations through imagery. We find this to be an interesting intersection that is fun and reflective to explore. 
	</p>
</main>