<script type="text/javascript" src="transition.js"></script>
<header>
  <nav id="nav">
    <%= link_to 'New Search', root_path, :class => "nav-items"  %> 
    <%= link_to 'About', about_path, :class => "nav-items" %> 
    <%= image_tag('wordsmif-final-2.svg', :class => "logo nav-items") %>
    <%= link_to 'Contact', contact_path, :class => "nav-items", :id => "current"  %>
    <%= link_to 'Previous Search', results_path, :class => "nav-items" %>
  </nav>
</header>

<main>
	<h3>CONTACT</h3>

</main>
<footer>
	<span>
		Copyright &copy;<%= Date.today.year %> Joshua Davis <em>All Rights Reserved</em>
	</span>
</footer>