<script type="text/javascript" src="transition.js"></script>
<header>
  <nav id="nav">
    <%= link_to 'New Search', root_path, :class => "nav-items"  %> 
    <%= link_to 'About', about_path, :class => "nav-items" %> 
    <%= image_tag('wordsmif-final-2.svg', :class => "logo nav-items") %>
    <%= link_to 'Contact', contact_path, :class => "nav-items", :id => "current"  %>
    <%= link_to 'Previous Search', results_path, :class => "nav-items" %>
  </nav>
</header>

<main>
	<h2 id="static">CONTACT</h2>
  <section id="contact">
    <p>
      For more information, feel free to reach out <a href="mailto:joshdavis55@gmail.com"><i>&#xe800;</i></a>
      <br>
      <address>
        Created and maintained by Joshua Davis
        <br>
        We are based out of Brooklyn, NY
        <br>
        <br>
        If you enjoyed our app, we are always accepting donations for those who are generous in nature :)
      </address>
      <br>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="donate">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="ZD585LUZWCGNW">
        <input type="image" src="http://i.imgur.com/0AteppS.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
      <br>
    </p>  
  </section>

</main>
<footer>
	<span>
		Copyright &copy;<%= Date.today.year %> Joshua Davis <em>All Rights Reserved</em>
	</span>
</footer>