<nav>
	<%= link_to 'New Search', root_path %> 
	<%= link_to 'About', about_path %> 
	<%= image_tag('wordsmif-f5.png', :class => "img") %>
	<%= link_to 'Contact', contact_path %>
	<%= link_to 'Previous Search', results_previous_path %>
</nav>
