<script type="text/javascript" src="spinner.js"></script>
<script type="text/javascript" src="transition.js"></script>
<header>
  <nav id="nav">
    <%= link_to 'New Search', root_path, :class => "nav-items", :id => "current"  %> 
    <%= link_to 'About', about_path, :class => "nav-items" %> 
    <%= image_tag('wordsmif-final-2.svg', :class => "logo nav-items") %>
    <%= link_to 'Contact', contact_path, :class => "nav-items" %>
    <%= link_to 'Previous Search', results_path, :class => "nav-items" %>
  </nav>
</header>

<div class="sk-circle">
  <div class="sk-circle1 sk-child"></div>
  <div class="sk-circle2 sk-child"></div>
  <div class="sk-circle3 sk-child"></div>
  <div class="sk-circle4 sk-child"></div>
  <div class="sk-circle5 sk-child"></div>
  <div class="sk-circle6 sk-child"></div>
  <div class="sk-circle7 sk-child"></div>
  <div class="sk-circle8 sk-child"></div>
  <div class="sk-circle9 sk-child"></div>
  <div class="sk-circle10 sk-child"></div>
  <div class="sk-circle11 sk-child"></div>
  <div class="sk-circle12 sk-child"></div>
</div>

<main>
  <h3>Think of a word and...</h3>
  <section id="search-form">

    <%= form_tag words_path do %>
      <%= text_field_tag :inputwords %>
      <%= submit_tag "GO", :id => "submit" %>
    <% end %>

  </section>  
</main>
<footer>
  <span>
    Copyright &copy;<%= Date.today.year %> Joshua Davis <em>All Rights Reserved</em>
  </span>
</footer>