<h1>INDEX PAGE!</h1>

<%= form_tag words_path do %>
    <%= text_field_tag :inputwords %>
    <%= submit_tag "Send input" %>
<% end %>

<%= form_for :words do |f| %>
            <p>
                        <%= f.label :inputwords %><br>
                        <%= f.text_field :inputwords %>
            </p>
            <p>
                        <%= f.submit %>
            </p>
<% end %>

<% text_field(:post, :title, size: 20) %>
<hr>
<% finalwords = @response.body["associations"].split(/\s*,\s*/) %>
<% finalwords.each do |word| %>
<%= word %><br>
<% end %>
<hr>
<%= @response.body["associations"] %>
<hr>
<% @response.body.each do |list| %>
		<%= list %>

	<% end %>
<hr>
<%= @response.body %>

<%#= response[associations] %>
<%# response.body.each do |word| %>
	<%#= word %>

	<%# end %>