<header>
  <%= render :partial => 'nav' %>
</header>

<h1>test page</h1>

<% @images.each do |image| %>
<%= image %>
<% end %>

<hr>
<%= @images %>
<hr>
<%= @first["embed_url"] %>
<hr>

<%= @results.first %>

